**/node_modules
**/__pycache__
**/.venv
**/.git
**/.env
**/*.pyc
**/*.pyo
**/*.pyd
**/dist
**/.DS_Store
frontend-citizen/node_modules
backend/__pycache__
backend_nlp/__pycache__
Parli_backend/__pycache__
docker-data
postgres_data
redis_data
neo4j_data
minio_data
meilisearch_data
